#POSTGRES_USER=sia_dev
#POSTGRES_PASSWORD=sia_-password_2026
#POSTGRES_DB=pawnder_db

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=pawnder_db
SECRET_KEY=a3f65e6334f6fd243864a6f3fa1fac80b03856d8ab73aa6e2bd7b610b6a35b60